.card {
    position: relative;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 1;
    height: 100%;
}

.border {
    pointer-events: none;
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    /* Border width */
    background: linear-gradient(to right, var(--accent-green), var(--accent-blue), var(--accent-purple));
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity: 0.5;
}

.border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: inherit;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}